USE [master]
GO

CREATE DATABASE [Sales]
GO

CREATE DATABASE [Billing]
GO

CREATE DATABASE [Shipping]
GO

CREATE LOGIN [Sales] WITH PASSWORD=N'Sales', DEFAULT_DATABASE=[Sales], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO

CREATE LOGIN [Billing] WITH PASSWORD=N'Billing', DEFAULT_DATABASE=[Billing], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO

CREATE LOGIN [Shipping] WITH PASSWORD=N'Shipping', DEFAULT_DATABASE=[Shipping], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO

USE [Sales]
GO
CREATE USER [Sales] FOR LOGIN [Sales] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Sales]
GO
CREATE TABLE [dbo].[Orders](
	[Id] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

USE [Billing]
GO
CREATE USER [Billing] FOR LOGIN [Billing] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Billing]
GO

USE [Shipping]
GO
CREATE USER [Shipping] FOR LOGIN [Shipping] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Shipping]
GO
